*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;


}



body {
    background-image: url("wall.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}
ul{
    float :right;
    list-style-type: none;
    margin-top: 5px;
}
.logo{
    
float:left;
position: absolute;
display:block;
margin-left:-60%;
margin-top:-2%
    
}
ul li{
    display: inline-flex;
}ul li a{
    text-decoration: none;
    color:rgb(247, 230, 137);
    padding :5px 20px;
    border:1px solid transparent;
    transition: 0.6s ease;
    

}
ul li a:hover{
    background-color:#FFED8A;
    color: crimson;
    
}
 ul li.active a{
     background-color:rgb(231, 221, 164);;
    color: crimson;
}
.main{
  max-width: 1200px;  
  margin :auto;
}
    
.title{
   /* position: relative;
   
    transform:translate(-50%,-50%)*/ 
    padding-top: 5%; 
    text-align: center;
    padding-right: 40px;
    padding-bottom: 15px;
    color: lightblack;
    justify-content: center;
    
    margin-right: 40%;
    background-color:darkgrey;
    
    
    
}
.title h1{
    color:#FFED8A;
   
    margin-bottom: 10;
   
    
}

.whycant{
    text-align: right;
    justify-content: right;
    float: left;
    text-size-adjust: 10px;
}
.title h3{
    color:rgb(231, 221, 164);
    font-size:20px ;
}
 /*.button{
    
   top: 76%;
    left: 40%;
   transform:translate(-50% ,-50%)
}*/
button{
    /* position: absolute; */
    color:#FFED8A;
    text-decoration:none;
    padding :  25px;
    border:1px solid #FFED8A ;
    border-radius: 12px;
    background-color: transparent;
    transition: 0.6s ease;
    
}
form :hover{

    background-color:#FFED8A;
    color: crimson;
    
}
.button{
    padding-left: 15%;
    padding-top:6%;
}
